/* Full background image */
body {
    margin: 0;
    padding: 0;
    height: 100vh;

  background-image: url("https://i.ytimg.com/vi/sVdj-z9ekzA/maxresdefault.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Glass card */
.card {
    width: 850px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}


input {
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Buttons */
.add-btn {
    display: block;
    margin: 10px auto;
    background: #0066ff;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 15px;
}

/* Exit Button */
.exit-btn {
    background: red;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
